/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Portrait layout (default) */
.app {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    margin: auto;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    /*animation:fade 3000ms infinite;*/
	display: inline-grid;
	width: 60%;
    /*-webkit-animation:fade 3000ms infinite;*/
}
button{
	background: rgba(148, 186, 101, 0.7);
    box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    line-height: 0.6em;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
}
div.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
}
div.accordion.active, div.accordion:hover {
        background-color: #ccc;
        margin-bottom: 10px;
}

div.accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
}

div.accordion.active:after {
        content: "\2212";
}

div.panel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
}

div.panel > button{
		width: 100%;
}

a.buttonExits {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 0 10px 0;
}
